rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /applications/{applicationId} {
      // Allow create/update only by authenticated users, but deny reads.
      allow read: if false;

      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid;

      allow update: if request.auth != null
        && resource.data.uid == request.auth.uid
        && request.resource.data.uid == resource.data.uid;

      allow delete: if false;
    }
  }
}
